@font-face {
    font-family: 'Mj_Beirut';
    src: url('Mj_Beirut.woff2') format('woff2'),
        url('Mj_Beirut.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mj_Beirut Md';
    src: url('Mj_BeirutMd.woff2') format('woff2'),
        url('Mj_BeirutMd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mj_Beirut Lt X3';
    src: url('Mj_BeirutLtX3.woff2') format('woff2'),
        url('Mj_BeirutLtX3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mj_Beirut';
    src: url('Mj_BeirutLight.woff2') format('woff2'),
        url('Mj_BeirutLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mj_Beirut Heading';
    src: url('Mj_BeirutHeading.woff2') format('woff2'),
        url('Mj_BeirutHeading.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

