#student-review {
	margin-block: 200px;

	@media only screen and (max-width: 900px) {
		margin-block: 80px;
	}

	width: 100vw;
	margin-left: calc((-100vw + 100%) / 2);
	margin-right: calc((-100vw + 100%) / 2);


	.student-reviews-wrapper {
		display: flex;
		flex-direction: row;
		gap: 12px;
		height: 200px;

		overflow-x: auto;

		& > div:first-child {
			padding-right: 8%;
		}

		&[data-is-scrolled="true"] {
			& > div:first-child {
				padding-right: 0;
			}
		}
	}
}
