#student-review {
    margin-block: 200px;

    width: 100vw;
    margin-left: calc((-100vw + 100%) / 2);
    margin-right: calc((-100vw + 100%) / 2);

    @media only screen and (max-width: 900px) {
        margin-block: 40px;
    }

    .student-reviews-wrapper {
        display: flex;
        flex-direction: row;
        gap: 12px;
        height: 200px;
        margin-inline: 20px;

        overflow-x: auto;

        & > div:first-child {
            padding-right: 8%;
        }

        &[data-is-scrolled="true"] {
            & > div:first-child {
                padding-right: 0;
            }
        }
    }
}
