@import "/public/fonts/iranyekan/fontiran.scss";
@import "/public/fonts/beirut/beirut.scss";

@font-face {
  font-family: iranyekan;
  src: url("/fonts/Iranyekan\ bold.ttf");
}

@font-face {
  font-family: beirut;
  src: url("/fonts/Mj_Beirut-Heading.ttf");
}
